!!! 5
%html(ng-app="myApp")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")

    %title Title

    /gen-css

    /manual-css
    %link(rel="stylesheet" type="text/css" href="lib/js/angular/mobile-nav.css")


  %body(ng-controller="MainCtrl")
    %mobile-view

    %script(lang="javascript" src="lib/js/cordova/cordova-2.1.0.js")
    %script(lang="javascript" src="lib/js/angular/angular.min.js")
    %script(lang="javascript" src="lib/js/angular/mobile-nav.min.js")

    %script(lang="javascript" src="lib/js/zepto/zepto.js")
    %script(lang="javascript" src="lib/js/infrastructure/native.js")

    %script(lang="javascript" src="lib/js/underscore/underscore-min.js")

    %script(lang="javascript" src="lib/js/jt-logic.js/would.js")
    %script(lang="javascript" src="lib/js/jt-logic.js/relations.js")
    %script(lang="javascript" src="lib/js/jt-logic.js/conditions.js")
    %script(lang="javascript" src="lib/js/jt-notify.js/notify.js")

    =include_js
